<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='heart-shape-various-vegetables-fruits-healthy-food-concept-isolated-white-background-140287808.jpg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <style>
    .goggins-img {
      width: 500px; /* Or any size you want */
      height: auto;
    }
  </style>
</head>

<body>
  <img src="{{ url_for('static', filename='heart-shape-various-vegetables-fruits-healthy-food-concept-isolated-white-background-140287808.jpg') }}" class="icon goggins-img" />
  <h3>Smart Grocer</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Number of Calories per day?" required />
    <input type="submit" value="Generate meal plan" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>