<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='goggins_lift.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <style>
    .goggins-img {
      width: 500px; /* Or any size you want */
      height: auto;
    }
  </style>
</head>

<body>
  <img src="{{ url_for('static', filename='goggins_lift.png') }}" class="icon goggins-img" />
  <h3>Goggins Wisdom</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="How can Goggins help you today?" required />
    <input type="submit" value="Generate Goggins Wisdom" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>